html{ 
    background: url(../images/landing_bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }


.navbar {
    background-color:#8B0000;
    border: 2px solid black;
}

.nav-icon {
    font-size: 3em; 
    color: white;
}

.nav-icon :hover {
    color: blue;
}

.navbar-item:hover {
    color: blue;
}

.navbar-item-text {
    color: white;
}

.navbar-item-text:hover {
    color: blue;
}

#flash_messages {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid grey;
}

.label {
    color: white;
}


.card-properties {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    width: inherit;
}

.card {
    margin-bottom: 4em;
}

/*
body {
    background: linear-gradient(-45deg, #ee7752, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
*/