<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alerts/alert.css') }}">

    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  
    <title>Homepage</title>
</head>
<body>
  <header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
          <span class="nav-icon">
            <i class="fas fa-bell"></i>
          </span>            
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('main_root.landing_page') }}">
            Home
          </a>
    
          <a class="navbar-item" href="{{ url_for('users.homepage') }}">
            Profile
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Jobs
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-danger" href="{{ url_for('users.logout') }}">
                Logout
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container" style="width:100%;">
    {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert-{{category}} flash-container">Message: {{ message }}</div>
    {% endfor %}
    </div>
    
  </header>

  <section class="section">
    <div class="container" style="display: flex; justify-content: center;">
      <h1>Welcome {{ email | capitalize }}</h1>
    </div>
  </section>

  <section class="section">
    <div class="container" style="display: flex; justify-content: center;">
      <div class="columns">
          <div class="column is-6-desktop">
            <h2 class="title">Create an alert</h2>
            <a class="button" href="{{ url_for('alerts.new_alert') }}">create alert</a>
          </div>
          <div class="column is-6-desktop">
            <h2 class="title">Show alerts</h2>
            <a class="button" href="{{ url_for('alerts.index') }}">show alerts</a>
          </div>
        </div>
    </div>
  </section>


  <section class="section">
    {{alerts}}
  </section>

    
</body>
</html>