html, body {
  width: 100%;
  height: 100%;
  padding: 0;
}

.alert {
    padding: 12px;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-bottom: 16px;
    border-width: 2px;
    border-style: solid;
  }
  
  .alert-error {
    border-color: darkred;
    background-color: red;
    color: white;
  }
  
  .alert-info {
    border-color: rgb(255, 251, 0);
    background-color: rgb(251, 255, 0);
    color: black;
  }

  .flash-container {
    width: 100%;
    border: 1.5px solid lightgray;
  }